p {
    font-family: 'Source Sans Pro', 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Source Sans Pro', 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
}

h2 {
    font-family: 'Quicksand', 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
}

a {
    font-family: 'Source Sans Pro', 'Open Sans', 'Roboto', sans-serif;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75px
    height: 50px
}